<footer class="footer">
    <div class="container">
      
      <div class="footer-disclaimer">
        <p><strong>Primer season 5, CO., LTD.</strong> invests in early-stage entrepreneurs, providing not only financial support but also mentoring, networking, and various resources necessary for market entry. Primer discovers individuals with an entrepreneurial spirit, offering them the opportunity to take on big challenges and supporting their success.</p>
      </div>
  
      <div class="footer-social">
        <a href="https://www.facebook.com/primerkr/?locale=ko_KR" class="social-link" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.youtube.com/@primer3168" class="social-link" target="_blank"><i class="fa-brands fa-youtube"></i></a>
        <a href="https://kr.linkedin.com/in/douglasguen?trk=public_post_feed-actor-name" class="social-link" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://x.com/douglasguen" class="social-link" target="_blank"><i class="fa-brands fa-x-twitter"></i></i></a>
      </div>
  
      <div class="footer-copyright">
        <p>
          &copy; 2024 <strong>Primer season 5, CO., LTD.</strong> All rights reserved. <br/> 
          Business Registration Number: 277-87-00708 <br/>
          Office Phone Number: +82 70-8667-0708
        </p>
      </div>
      
    </div>
  </footer>
  