<header>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <!-- 로고 이미지 (왼쪽) -->
        <a class="navbar-brand" href="/">
          <img src="/image/logo_primer.png" alt="Logo" class="d-inline-block align-text-top">
        </a>
  
        <!-- 모바일 화면에서 메뉴 버튼 -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <!-- 오른쪽 메뉴 -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/primerclub">Primer Club</a>
              </li>
            <li class="nav-item">
                <a class="nav-link" href="/partners">Partners</a>
              </li>  
            <li class="nav-item">
              <a class="nav-link" href="/events">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/stories">Stories</a>
            </li>
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
              </ul>
            </li> -->
          </ul>
          
  
          <!-- 버튼 추가 (오른쪽) -->
          <a class="btn btn-primary" href="/request" role="button">Apply</a>
        </div>
      </div>
    </nav>
  </header>
  